<!--<header style="background: #e95454" xmlns="http://www.w3.org/1999/html">-->
<!--  <div class="container-normal">-->
<!--    <div class="header_inner" style="display: flex; justify-content: space-between; align-items: center">-->
<!--      <div class="logo-link">-->
<!--        <a class="nav_link" href="#" style="margin-left: 20px; font-family: 'Montserrat', sans-serif; font-size: 25px;">-->
<!--          <img src="/assets/images/logo.jpg" style="width: 45px; height: 45px; border-radius: 10px;">-->
<!--          Helance-->
<!--        </a>-->
<!--        <a routerLink="/home" class="nav_link line">Главная</a>-->
<!--      </div>-->
<!--      <nav>-->
<!--        <div class="navigation">-->
<!--          <a routerLink="/registration" class="nav_link line" style="color: white">Регистрация</a>-->
<!--          <a routerLink="/signIn" class="nav_link line" style="color: white">-->
<!--            <img src="/assets/images/login.png" style="width: 25px; height: 25px;">-->
<!--            Вход-->
<!--          </a>-->
<!--        </div>-->
<!--      </nav>-->
<!--    </div>-->
<!--  </div>-->
<!--</header>-->

<header>

  <nav class="navbar fixed-top navbar-expand-lg navbar-dark pink scrolling-navbar">
    <a class="navbar-brand" href="#"><strong>Navbar</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Opinions</a>
        </li>
      </ul>
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link"><i class="fab fa-facebook-f"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><i class="fab fa-twitter"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><i class="fab fa-instagram"></i></a>
        </li>
      </ul>
    </div>
  </nav>

</header>




<div class="count_tasks">Найденно {{count}} заказов</div>
<div class="main_information_about_tasks">
  <div class="all_tasks">
    <div *ngFor="let task of tasksArray">
      <div class="task_card">
        <a class="close">
          <img src="assets/images/icons8-close-window-30.png">
        </a>
        <div class="task_main_info">
          <div class="task_content">
            <div class="date_info">
              <span class="date_start">{{task.dateStart}}</span>
              <span class="date_deadline">
                <img src="assets/images/icons8-calendar-12-80.png" style="width: 20px; height: 20px">
                {{task.deadline}}
              </span>
            </div>
            <div class="subject_task">
              <span class="subject">{{task.subject}}</span>
              <span class="headline">{{task.headLine}}</span>
            </div>
          </div>
          <div class="price_container">
            <div class="views_count">
              <span>Просмотров:</span>
              {{task.views}}
            </div>
            <div class="price">
              <span>Бюджет:</span>
              {{task.price}}
            </div>
          </div>
        </div>
        <div class="user_info">
          <div class="customer_info_main">
            <div class="customer">
              <div class="customer_avatar_and_login">
                <img src="https://a24.biz/assets/img/avatars/size40x40/0/default.jpg" class="sc-bIqbHp tmBUA">
                <span style="font-size: 16px; margin-left: 12px">login_user</span>
              </div>
              <div class="customer_files">
                Прикрепленные файлы
              </div>
              <button type="button" class="btn btn-outline-primary">Связаться</button>
            </div>
          </div>
          <div class="description">
            <div class="description_view_box">
              <div class="description_title">Описание</div>
              {{task.description}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="filter_tasks">
    <div class="filter_title">
      <div style="font-size: 16px; font-weight: bold">Фильтрация заказов</div>
      <span (click)="throwOffFilter()" class="nav_link">Сбросить</span>
    </div>
    <div class="input-group md-form form-sm form-2 pl-0">
      <input [(ngModel)]="subject" class="form-control my-0 py-1 amber-border" type="text"
             placeholder="Введите тип работы" aria-label="Search">
      <div class="input-group-append">
        <span class="input-group-text amber lighten-3" id="basic-text1">
          <img src="assets/images/icons8-search-30.png" style="height: 20px; width: 20px">
        </span>
      </div>
    </div>
    <button
      class="btn btn-outline-success btn-block"
      style="margin-top: 25px; width: 90%; align-self: center">
      Применить
    </button>
  </div>
</div>

