<div *ngIf="tasksArray.length; else noTasks">
  <div class="count_tasks">Найденно {{tasksArray.length}} заказов</div>
</div>
<ng-template #noTasks>
  <div class="count_tasks">Ничего не найдено</div>
</ng-template>
<div class="main_information_about_tasks">
  <div class="all_tasks">
    <div *ngFor="let task of returnTaskArray; let i = index">
      <div class="task_card">
        <a class="close">
          <img src="assets/images/icons8-close-window-30.png">
        </a>
        <div class="task_main_info">
          <div class="task_content">
            <div class="date_info">
              <span class="date_start">{{task.dateStart}}</span>
              <span class="date_deadline">
                <img src="assets/images/icons8-calendar-12-80.png" style="width: 20px; height: 20px">
                {{task.deadline}}
              </span>
            </div>
            <div class="subject_task">
              <span class="subject">{{task.subject}}</span>
              <span class="headline">{{task.headLine}}</span>
            </div>
          </div>
          <div class="price_container">
            <div class="views_count">
              <span>Просмотров:</span>
              {{task.views}}
            </div>
            <div class="price">
              <span>Бюджет:</span>
              {{task.price}}
            </div>
          </div>
        </div>
        <div class="user_info">
          <div class="customer_info_main">
            <div class="customer">
              <div class="customer_avatar_and_login">
                <img src="https://a24.biz/assets/img/avatars/size40x40/0/default.jpg" class="sc-bIqbHp tmBUA">
                <span class="login_user" solid style="font-size: 16px; margin-left: 12px" ngDefaultControl>{{login[i]}}</span>
              </div>
              <div class="customer_files">
                Прикрепленные файлы
              </div>
<!--Связаться-->
              <button type="button" mdbBtn color="primary" class="relative waves-light"
                      (click)="basicModal.show()" mdbWavesEffect>
                Связаться
              </button>
              <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                        <span aria-hidden="true">×</span>
                      </button>
                      <h4 class="modal-title w-100" id="myModalLabel">Связаться с заказчиком</h4>
                    </div>
                    <div class="modal-body" style="display: flex; justify-content: space-around; align-items: center">
                      <h5>Написать в telegram</h5>
                      <a type="button" mdbBtn floating="true" color="email" class="waves-light"
                         (click)="getSocialNetwork(i)" mdbWavesEffect>
                        <img src="assets/images/telegram.png" style="width: 52px; height: 52px">
                      </a>
                    </div>
                    <div class="modal-footer">
                      <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Close</button>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>
          <div class="description">
            <div class="description_view_box">
              <div class="description_title">Описание</div>
              {{task.description}}
            </div>
          </div>
        </div>
      </div>
    </div>
      <pagination *ngIf="returnTaskArray.length" [totalItems]="tasksArray.length" (pageChanged)="pageChanged($event)" style="justify-self: center"></pagination>
  </div>
  <div class="filter_tasks">
    <div class="filter_title">
      <div style="font-size: 16px; font-weight: bold">Фильтрация заказов</div>
      <span (click)="throwOffFilter()" class="nav_link">Сбросить</span>
    </div>
    <div class="input-group md-form form-sm form-2 pl-0">
      <input (keydown.enter)="taskFilter(subject)" [(ngModel)]="subject" class="form-control my-0 py-1 amber-border" type="text"
             placeholder="Введите тип работы" aria-label="Search">
      <div class="input-group-append">
        <span class="input-group-text amber lighten-3" id="basic-text1">
          <img src="assets/images/icons8-search-30.png" style="height: 20px; width: 20px">
        </span>
      </div>
    </div>
    <button
      (click)="taskFilter(subject)"
      class="btn btn-outline-success btn-block"
      style="margin-top: 25px; width: 90%; align-self: center">
      Применить
    </button>
  </div>
</div>


